<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="initial-Investment">Initial Investment</label>
      <input
        type="number"
        id="initial-Investment"
        name="initial-Investment"
        [(ngModel)]="enterdInitialInvestment"
      />
    </p>

    <p>
      <label for="annual-Investment">Annual Investment</label>
      <input
        type="number"
        id="annual-Investment"
        name="annual-Investment"
        [(ngModel)]="enterdAnnualInvestment"
      />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected-Return">Expected Return</label>
      <input
        type="number"
        id="expected-Return"
        name="expected-Return"
        [(ngModel)]="enterdExpectedReturn"
      />
    </p>

    <p>
      <label for="duration">Duration</label>
      <input type="number" id="duration" name="duration" [(ngModel)]="enterdDuration" />
    </p>
  </div>
  <p>
    <button type="submit">Calculate</button>
  </p>
</form>
